<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav  main-nav open layui-nav-tree" lay-filter="test">
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:void(0);">
                    <i class="layui-icon el-icon-right">&#xe614;</i> 系统管理
                </a>
                <dl class="layui-nav-child">
                    <dd class="el-dd-left"><a href="/admin/index/test" class="sidebar-trans">系统日志</a></dd>
                    <dd class="el-dd-left"><a href="javascript:void(0);">页面二</a></dd>
                    <dd class="el-dd-left"><a href="javascript:void(0);">页面三</a></dd>
                    <dd class="el-dd-left"><a href="javascript:void(0);">页面四</a></dd>
                    <dd class="el-dd-left"><a href="javascript:void(0);">页面五</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:void(0);">权限模块</a>
                <dl class="layui-nav-child">
                    <dd class="el-dd-left"><a href="javascript:void(0);">用户管理</a></dd>
                    <dd class="el-dd-left"><a href="javascript:void(0);">角色管理</a></dd>
                    <dd class="el-dd-left"><a href="javascript:void(0);">权限管理</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>