<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree"  lay-filter="test">
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:void(0);">演示权限页面</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:void(0);">页面一</a></dd>
                    <dd><a href="javascript:void(0);">页面二</a></dd>
                    <dd><a href="javascript:void(0);">页面三</a></dd>
                    <dd><a href="javascript:void(0);">页面四</a></dd>
                    <dd><a href="javascript:void(0);">页面五</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:void(0);">权限模块</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:void(0);">用户管理</a></dd>
                    <dd><a href="javascript:void(0);">角色管理</a></dd>
                    <dd><a href="javascript:void(0);">权限管理</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>